.App{
  height: 100vh;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 2fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn" "navColumn profileColumn messageColumn";
}

.logo{
  height: 100%;
  width: 100%;
}

.navColumn {
  grid-area: navColumn;
  background-color: var(--nude);
}

.profileColumn {
  grid-area: profileColumn;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageColumn {
  grid-area: messageColumn;
  width: 100%;
}

input, textarea{
	outline: none;
  background-color: white;
  border: 3px solid var(--orange);
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
  margin-top: 5px;
  width: 300px;
}

textarea{
  height: 150px;
}

.button, button{
  background-color: var(--orange);
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.button{
  align-self: center;
}

.errorMessage{
  position: relative;
  bottom: 120px;
  width: 100%;
  background-color: #EB9591;
  text-align: center;
  padding: 20px 0px;
  color: white;
}

.closeMessage{
  cursor: pointer;
  padding-left: 50px;
}
