.landing{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 80px;
  color: var(--grey);
}

.subTitle{
  font-size: 30px;
  padding-top: 0px;
  color: var(--orange);
}
